<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Cadastre o seu calçado!</title>
    {% load static %}
    <link href="{% static 'CSS/header_e_footer.css' %}" rel="stylesheet">
    <link href="{% static 'CSS/cadastro_roupas.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Emblema+One&family=Tilt+Warp&display=swap" rel="stylesheet">
</head>
<body>

    <form method="POST" class="login-container">
        {% csrf_token %}

        <h2>Cadastre o calçado</h2>

        <div class="input-group">
            <label for="id_imagem">Imagem:</label>
            <input type="file" id="id_imagem" name="imagem">
        </div>

        <div class="input-group">
            <label for="id_descricao">Descrição:</label>
            <input type="text" id="id_descricao" name="descricao" maxlength="100">
        </div>

        <div class="input-group-diferente">
            <label for="id_cor_visual">Cor:</label>
            <input type="color" id="id_cor_visual" name="cor_visual" value="{{ form.cor_visual.value }}">
        </div>

        <div class="input-group">
            <label for="id_cor_texto">Cor (por extenso):</label>
            <input type="text" id="id_cor_texto" name="cor_texto" maxlength="20">
        </div>

        <div class="input-group">
            <label for="id_marca">Marca:</label>
            <input type="text" id="id_marca" name="marca" maxlength="100">
        </div>

        <div class="input-group">
            <label for="id_material">Material:</label>
            <select id="id_material" name="material">
                <option value="">Selecione</option>
                {% for value, label in form.fields.material.choices %}
                <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="input-group">
            <label for="id_tamanho">Tamanho:</label>
            <select id="id_tamanho" name="tamanho">
                {% for value, label in form.fields.tamanho.choices %}
                <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="input-group">
            <label for="id_tipo">Tipo:</label>
            <select id="id_tipo" name="tipo">
                {% for value, label in form.fields.tipo.choices %}
                <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="button-group">
            <button type="submit" class="btn submeter">Cadastrar</button>
            <button type="reset" class="btn limpar">Limpar</button>
        </div>
    </form>

</body>
</html>