<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    {% load static %}
    <link href="{% static 'CSS/header_e_footer.css' %}" rel="stylesheet">
    <link href="{% static 'CSS/cadastro_usuario.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Emblema+One&family=Newsreader:ital,opsz,wght@0,6..72,312;1,6..72,312&
family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tilt+Warp&display=s
wap" rel="stylesheet">

</head>
<body>
    <div id="conteudo">
        <header>
            <div class="logo-container">
                <img src="{% static 'IMG/logo.png' %}" class="logo">
                <h1 class="titulo_header">FASHION LAB</h1>
            </div>
            <nav class="nav-links">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'home' %}">Sobre Nós</a>
                <a href="{% url 'armario' %}">Meu Armário</a>
                <a href="{% url 'looks' %}">Meus Looks</a>
                <a href="{% url 'pergunta' %}">Cadastro</a>
            </nav>
        </header>

        <section class="principal">
            <form class="formulario" method="POST">
                {% csrf_token %}

                <fieldset class="panel formulario__dados">
                    <h3 class="formulario__dados__titulo">Dados pessoais:</h3>
                    <div class="formulario__dados__input">
                        <div class="formulario__dados__input__area" >
                            <label for="id_nome">Nome: </label>
                            {{ form.nome }}
                        </div>
                        <div class="formulario__dados__input__area">
                            <label for="id_genero">Gênero: </label>
                            {{ form.genero }}
                        </div>
                        <div class="formulario__dados__input__area">
                            <label for="id_cpf">CPF: </label>
                            {{ form.cpf }}
                        </div>
                        <div class="formulario__dados__input__area">
                            <label for="id_data_nascimento">Nascimento: </label>
                            {{ form.data_nascimento }}
                        </div>
                    </div>
                </fieldset>
                <fieldset class="panel formulario__dados">
                    <h3 class="formulario__dados__titulo">Dados de perfil:</h3>
                    <div class="formulario__dados__input">
                        <div class="formulario__dados__input__area">
                            <label for="id_usuario">Usuário: </label>
                            {{ form.usuario }}
                        </div>
                        <div class="formulario__dados__input__area">
                            <label for="id_email">Email: </label>
                            {{ form.email }}
                        </div>
                        <div class="formulario__dados__input__area">
                            <label for="id_senha">Senha: </label>
                            {{ form.senha }}
                        </div>
                        <div class="formulario__dados__input__area">
                            <label for="id_confirmar_senha">Confirmar senha: </label>
                            {{ form.confirmar_senha }}
                        </div>
                    </div>
                    <div class="formulario__dados__botoes botao_1">
                        <input class="botao" type="reset" value="Limpar">
                        <input class="botao" type="submit" value="Enviar">
                    </div>
                </fieldset>
            </form>
        </section>
    </div>
        <footer id="cor_footer">
            <div>
                <a class="rodape__link" href="https://github.com/vivicarteri/FashionLab">
                    <img class="rodape_link_imagem" src="{% static 'IMG/git_icone.png' %}">
                </a>
                <p>
                    Desenvolvido por — Anna Clara Luna, Felipe Pádua, Felipe Ripper e Vitória Carteri.
                </p>
            </div>
        </footer>
</body>
</html>
