<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Fashion Lab</title>
    {% load static %}
    <link href="{% static 'CSS/header_e_footer.css' %}" rel="stylesheet">
    <link href="{% static 'CSS/partes.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Emblema+One&family=Tilt+Warp&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <div class="logo-container">
            <img src="{% static 'IMG/logo.png' %}" class="logo">
            <h1 class="titulo_header">FASHION LAB</h1>
        </div>
        <nav class="nav-links">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'home' %}">Sobre Nós</a>
            <a href="{% url 'armario' %}">Meu Armário</a>
            <a href="{% url 'looks' %}">Meus Looks</a>
            <a href="{% url 'pergunta' %}">Cadastro</a>
        </nav>
    </header>

    <main>
        <section>
            <div class="quadrado img_button">
                <a href="{% url 'armario' %}">Partes de Cima</a>
            </div>
            <div class="img_produto">
                <img src="{{ parte_de_cima.imagem.url }}" class="img_peca">
            </div>
            <div class="quadrado_detalhes cor_1">
                <h1 class="titulo">{{ parte_de_cima.descricao }}</h1>

                <p><label>Avaliação: </label> </p>
                <div class="rate">
                    {% for i in estrelas %}
                        {% if not i > parte_de_cima.media_avaliacoes %}
                            <span class="fa fa-star checked"></span>
                        {% else %}
                            <span class="fa fa-star empty"></span>
                        {% endif %}
                    {% endfor %}
                </div>
                    <p style="margin-left: 10px; font-size: 16px;">{{ media_avaliacoes }}</p>

                <div class="item">
                    <p><label style="margin-right: 0;"">Cor: </label> <div style="font-family: 'Tilt Warp'; font-size: 25px; 
                    margin-top: 14px; color: {{ cor_visual }}";>{{ parte_de_cima.cor_texto }}</div></p>
                </div> 

                <div class="item">
                    <p><label>Marca: </label> {{ parte_de_cima.marca }}</p>
                </div> 

                <div class="item">
                    <p><label>Material: </label> {{ parte_de_cima.material }}</p>
                </div>

                <div class="item">
                    <p><label>Tamanho: </label> {{ parte_de_cima.tamanho }}</p>
                </div>
            </div>

            <div class="quadrado_detalhes cor_2">

                {% if parte_de_cima_usos %}
                {% with ultimo_uso=parte_de_cima_usos|first %}
                    <div class="item">
                        <p>Total de vezes que já vestiu a peça: {{ parte_de_cima_usos.count }}</p>
                    </div>
                    <div class="item">
                        <p>Ocasião para a qual mais vestiu a roupa: {{ ocasião_mais_frequente }}</p>
                    </div>
                    <div class="item">
                        <p>Último uso: {{ ultimo_uso.data_uso }}</p>
                    </div>
                    <div class="item">
                        <p>Ocasião do último uso: {{ ultimo_uso.ocasiao }}</p>
                    </div>
                    <div class="item">
                        {% if ultimo_uso.avaliacao == 1 %}
                            <p>Avaliação do último uso: {{ ultimo_uso.avaliacao }} estrela</p>
                        {% else %}
                            <p>Avaliação do último uso: {{ ultimo_uso.avaliacao }} estrelas</p>
                        {% endif %}
                    </div>
                {% endwith %}
                {% else %}
                <div class="item">
                    <p>Você ainda não cadastrou nenhum uso para essa peça!</p>
                </div>
                {% endif %}

            </div>

            <div class="quadrado_detalhes cor_3">
                <div class="item">
                    <p>♻️  Pegada de carbono da peça:</p>
                    <input type="number" id="pegada">
                </div> 
                <div class="item">
                    <p>💧  Quantidade de água investida na peça: </p>
                    <input type="number" id="agua">
                </div> 
            </div>
        </section>
            </form>
    </main>

    <footer id="cor_footer">
        <div>
          <a class="rodape__link" href="https://github.com/vivicarteri/FashionLab">
              <img class="rodape_link_imagem" src="{% static 'IMG/git_icone.png' %}">
          </a>
          <p class="p_footer"> 
              Desenvolvido por — Anna Clara Luna, Felipe Pádua, Felipe Ripper e Vitória Carteri. 
          </p>
        </div>
      </footer>

</body>
</html>