body{
    height: 100%;
    width:100%;
  }

  header{
      background-color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 40px 50px;
  }

  .logo-container{
      display: flex;
      align-items: center;
      gap: 30px;
  }
  
  .logo {height: 50px}
  
  .titulo_header{
      color: #9705DA;
      font-size: 24px;
      font-family: 'Emblema One';
  }
  
  .nav-links {
      display: flex;
      gap: 20px;
  }
  
  .nav-links a {
      text-decoration: none;
      color: #9705DA;
      font-size: 18px;
      font-family: 'Tilt Warp';
  }
  
  .nav-links a:hover {
      color: #F053C6;
  }

.quadrado {
  font-size: 18px;
  font-family: 'Tilt Warp';
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to bottom, #B75EF2, #EC43BF);
  width: 200px;
  height: auto;
  border-radius: 5px;
  margin-left: 100px;
  margin-top: 50px;
  padding: 20px; 
}

.visualizar {
  margin-left: auto;
  margin-right: 100px;
  margin-bottom: 50px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
  margin-bottom: 70px;
}

.add {
  width: 8%;
  height: auto;
}

.img_button {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.img_button:hover {
  transform: scale(1.1);
}

footer{
    width: 100%;
    font-family: 'Tilt Warp';
    font-size: 15px;
    color: white;
    background: linear-gradient(to bottom, #FF9AE3, #EA36BA, #7504C0);
    padding: 50px;
    text-align: center;
    margin-top: auto;
  }

.rodape_link_imagem{
  width: 30px;
  height: 30px;
}
.rodape__link {
  display: inline-block;
  margin: 10px;
  transition: transform 0.3s ease;
}

.rodape__link:hover {
  transform: scale(1.1);
}